<h2><%= @dog.name %></h2>

  <div class="image_left">
    <% if @dog.image? %> <!--check if an image exists, else use a placeholder-->
      <%= image_tag @dog.image, alt: @dog.name, class: 'profile_image' %>
    <% else %>
      <%= image_tag "https://kwsmdigital.com/wp-content/uploads/2018/06/profile-placeholder-dog-pilot-3.jpg", alt: 'placeholder image', class: 'profile_image' %>
    <% end %>
  </div> <!-- image_left -->

  <div class="bio_right">
    <p>
      <strong>Breed:</strong>
      <%= @dog.breed %>
    </p>
    <p>
      <strong>About:</strong>
      <%= @dog.bio %>
    </p>
    <p>
      <strong>Owner:</strong>
        <%= link_to @dog.owner.name, user_path(@dog.owner.id) %>
    </p>
    <p>
      <strong>Walker/s:</strong>
      <% @dog.walked_by_users.each do |u| %>
        <%= link_to u.name, user_path(u.id) %>
      <% end %>
    </p>
    <br>
  </div> <!--bio_right-->

  <div class="bottom">
    <p><strong>Photos:</strong></p>

    <% @dog.photos.each do |p| %>
    <%= image_tag p.image, alt: @dog.name, class:'dog_photos' %>
    <% end %>
  </div> <!--bottom-->

<!--link_to 'Add Photo', new_photo_path, id: 'add_photo_link'-->
