<div class="form_left_sessions">
<h2>Login</h2>

<% if flash[:error] %>
<!-- Print out any error messages from the controller -->
<br>
<strong>

<%= flash[:error] %>
</strong>
<br>
<br>
<% end %>

<%= form_tag login_path do %>

  <%= label_tag :email %>
  <%= email_field_tag :email%>
<br>

  <%= label_tag :password %>
  <%= password_field_tag :password %>
<br>
  <%= submit_tag 'Login' %>

  <% end %>
</div> <!-- form_left-->
<%= image_tag 'dino_walk1.1.png', id:'pic_right_sessions' %>
