
<div class="sign_up">
  <h2>Sign up</h2>
</div>

<% if @user.errors.full_messages.any? %>
  <ul>
    <% @user.errors.full_messages.each do |e| %>
    <li> <%= e %> </li>
    <% end %>
  </ul>
<% end %>

<div class="form_left">
  <%= form_for @user do |f| %>

    <%= f.label :name %> <br>
    <%= f.text_field :name %>
    <br><br>
    <%= f.label :email %> <br>
    <%= f.text_field :email %>
    <br><br>
    <%= f.label :user_type, 'Account Type' %>
    <%= f.select :user_type, User.user_types.keys %>
    <br><br>

    <%= f.label :password %> <br>
    <%= f.password_field :password %>
    <br><br>

    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation %>
    <br><br>

    <%= f.submit 'Sign Up'  %>

  <% end %> <!-- form -->
</div> <!-- form_left -->

<%= image_tag 'dino_walk1.1.png', id:'pic_right' %>

<br><br><br><br><br><br>
