
<div class="walker_home_top">
  <h2>Walker Profile:</h2>
  <div class="walker_image_left">
    <% if @user.image? %>
      <%= image_tag @user.image, alt: @user.name, class:'walker_image' %>
    <% else %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/en/b/b1/Portrait_placeholder.png", alt:'blank photo', class:'user_image' %>
    <% end %>
  </div>
  <div class="walker_bio_right">

    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
    <p>
      <strong>Phone:</strong>
      <%= @user.phone_no %>
    </p>
    <p>
      <strong>Suburb:</strong>
      <%= @user.address %>
    </p>
    <p class="bio">
      <strong>Bio:</strong>
      <%= @user.bio %>
    </p>

  </div> <!-- bio_right -->
</div> <!-- walker_home_top -->

<div class="walker_links">
  <%= link_to 'Edit Profile', edit_user_path(@user.id) %>

  <%= link_to 'Add a Client', '/walk_dog' %>

  <%= link_to 'Add Photo', new_photo_path %>
</div>

<div class="bottom_dogs">
  <p>
    <strong>Current Clients:</strong>
    <% @user.walked_dogs.each do |d| %>
    <div class="client_dogs">
      <%= link_to image_tag(d.image, alt: d.name, class:'dog_thumbs'), dog_path(d.id)  %>
      <br>
      <%= link_to d.name, dog_path(d.id) %>
    </div>
    <% end %>
  </p>
</div>
