<!DOCTYPE html>
<html>
  <head>
    <title>Walk The Dog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= cloudinary_js_config %>
  </head>

  <body>
    <h1>Walk the Dog</h1>
    <nav>
      <div class="login">
        <% if @current_user.present?  %> <!-- that's verifiying session id. -->
          Hello, <%= @current_user.name %> <!-- -->

          <%= link_to 'Logout', login_path, method: 'delete' %>
        <% else %>
          <%= link_to 'Login', login_path %>

          <%= link_to 'Sign Up', new_user_path %>
        <% end %>
      </div>
    </nav>
    <hr>

  <%= yield %>

  <footer>
    <hr>
    &copy; Hammer Time 2020
  </footer>
  </body>
</html>
